<div class="itinerary__row">
    <div class="itinerary__inner-row">
        <div class="block one-third">
            <h1>Day 1</h1>
            <h2>Introductions & Objectives</h2>
            <p>The theme for the first day is <strong>exploration</strong>.</p>
            <p>Campers meet and get to know each other and the teams they will be working on a unique <em>business enterprise</em>.</p>
            <p>A special <em>tour</em> takes the teams to the historic landmarks in the city to <em>immerse</em> and <em>inspire</em> them with the fascinating Philippine culture.
        </div>
        <div class="block two-thirds"><img src="//myeonextgen.com/wp-content/themes/myeo/assets/images/itinerary/april-2.jpg" /></div>
    </div>
</div>

<div class="itinerary__row">
    <div class="itinerary__inner-row">
        <div class="block one-third">
            <h1>Day 2</h1>
            <h2>Ideation & Tools</h2>
            <p>Campers learn interesting new <em>skills</em> and use a variety of <em>tools</em> to <em>ideate</em> and <em>develop</em> strategies for their business project.</p>
            <p><em>EO mentors</em> and guest speakers lend their experience and expertise to guide teams in giving them a competitive edge.</p>
        </div>
        <div class="block two-thirds"><img src="//myeonextgen.com/wp-content/themes/myeo/assets/images/itinerary/april-3.jpg" /></div>
    </div>
</div>

<div class="itinerary__row">
    <div class="itinerary__inner-row">
        <div class="block one-third">
            <h1>Day 3</h1>
            <h2>Motivation & Leadership</h2>
            <p>Campers experience what it takes to be a <em>leader</em> and having the vision and will to persevere and <em>win</em>.</p>
            <p>Teams use this leadership as each member contributes his/her unique talents in the final push to get their <em>enterprise</em> ready for presentation. </p>
        </div>
        <div class="block two-thirds"><img src="//myeonextgen.com/wp-content/themes/myeo/assets/images/itinerary/april-4.jpg" /></div>
    </div>
</div>

<div class="itinerary__row">
    <div class="itinerary__inner-row">
        <div class="block one-third">
            <h1>Day 4</h1>
            <h2>Implementation</h2>
            <p>Teams work together to <em>implement their business enterprise</em> at the NextGen Manila Trade Show, where they will <em>market</em> their ideas to visitors and <em>special judges</em>.</p>
            <p>Recognition will be given to all contributors, but only one team will earn the <em>Next Gen Manila Best Entrepreneur Award</em>!</p>
        </div>
        <div class="block two-thirds"><img src="//myeonextgen.com/wp-content/themes/myeo/assets/images/itinerary/april-5.jpg" /></div>
    </div>
</div>