
.about {
    background-image: url('../images/about-bg.jpg');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

.about__content {
    text-align: center;
    padding-top: 1rem;
}

.about__header {
    text-transform: uppercase;
    color: $orange;
    display: inline-block;
    margin-bottom: 1rem;
    position: relative;
    overflow: hidden;

    & + p {
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        max-width: 360px;
    }

    .corner {
        display: block;
        position: absolute;
        height: 3rem;
        width: 3rem;
        background-color: white;
        border-radius: 50%;
    }
}

.about__header--content {
    border: 2px dotted;
    padding: 1rem 3rem;
    display: block;
}

.corner-1 {
    top: -1.5rem;
    right: -1.5rem;
    border-left: 2px dotted;
    border-bottom: 2px dotted;
}

.corner-2 {
    bottom: -1.5rem;
    right: -1.5rem;
    border-left: 2px dotted;
    border-top: 2px dotted;
}

.corner-3 {
    bottom: -1.5rem;
    left: -1.5rem;
    border-right: 2px dotted;
    border-top: 2px dotted;
}

.corner-4 {
    top: -1.5rem;
    left: -1.5rem;
    border-right: 2px dotted;
    border-bottom: 2px dotted;
}
