
.info__block {
    padding: 1rem;
    border: 2px dotted $orange;
    height: 100%;

    img {
        display: block;
        margin: 0 auto;
        max-height: 45%;
        margin-bottom: 2rem;
    }
}

.about-info__block {
    height: 400px;
    padding: 1rem;
    background-color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: left;
    line-height: 1.5;

    h2 {
        color: $orange;
        margin-bottom: 0;
        margin-top: 0;
        line-height: 1.2;
        font-family: $museoSlab;
    }

    ul {
        list-style: none;
    }

    li {
        position: relative;
        &:before {
            font-size: 2rem;
            display: block;
            position: absolute;
            left: -1.5rem;
            top: -1rem;
            margin-right: 2rem;
            content: "•";
            color: $orange; /* or whatever color you prefer */
        }
    }

    em {
        color: $brown;
        font-style: normal;
        font-weight: bold;
        font-size: 1.2em;
    }

    strong {
        color: $orange;
    }

    &:nth-child(2n) .info__block {
        border: 4px solid $brown;
    }
}

.about-info__container {
    background-color: $orange;
    background-image: url('../images/about-info/about-info-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.about-info__block--last {
    position: relative;
    height: 400px;
    padding: 1rem;
    vertical-align: top;
    margin-top: 1rem;
    background-color: $black;
    .info__block {
        border: none;
    }
    img {
        margin: auto;
        max-height: 100%;

    }
}