.landing-page__container .landing-page__left {
    text-align: center;
}

.landing-page__logo {
    max-height: 400px;
}

.landing-page__copy {
    text-align: center;
}

.learn-more {
    font-family: $museoSlab;
    background-color: #f7931e;
    padding: 0.5rem 0.75rem;

    border: none;
    color: white;
    display: inline-block;
    text-decoration: none;

    span {
        display: block;
        padding: 0.25rem 1.5rem;
        border: 1px solid white;
    }


    &:hover {
        background-color: $orange;
    }
}

.landing-page__links {
    text-align: center;

    .base {
        display: none;
    }

    a {
        display: block;
    }
}

@media (min-width: $screen-md-min + 1) {
    .learn-more {
        padding: 0.75rem 1rem;
        span {
            padding: 0.5rem 3rem;
        }
    }

    .landing-page__container {
        margin: 0 auto;
        padding: 3rem;
        max-width: 1200px;
        max-height: 935px;
    }

    .landing-page__copy {
        text-align: center;
        width: 55%;
        margin: 0 auto;
    }

    .landing-page__links {
        position: relative;
        height: 100%;
        width: 100%;
        padding-top: 100%;

        .base {
            display: block;
            position: absolute;
            top: 5rem;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
        }

        .contact-image {
            position: absolute;
            right: 13%;
            top: 25%;
            width: 100%;
            img {
                max-width: 45%;
                display: block;
                position: absolute;
                right: 0;
            }
        }

        .itinerary-image {
            position: absolute;
            width: 100%;
            top: 43%;
            left: 2%;

            img {
                max-width: 30%;
                display: block;
                position: absolute;
                left: 0;
            }
        }

        .reminders-image {
            position: absolute;
            width: 100%;
            bottom: 23%;
            right: 2%;

            img {
                max-width: 50%;
                display: block;
                position: absolute;
                right: 0;
            }
        }

        .faq-image {
            position: absolute;
            width: 100%;
            bottom: 10%;
            left: 20%;

            img {
                max-width: 23%;
                display: block;
                position: absolute;
                left: 0;
            }
        }
    }
}