/**
 * Next Gen EO
 * http://wordpress.org/themes
 *
 * Copyright (c) 2015 Rystraum Gamonez & RD Magboo
 * Licensed under the GPLv2+ license.
 */

 @charset "utf-8";

@font-face {font-family: 'MuseoSlab-500';src: url('..fonts/2D2C3F_0_0.eot');src: url('../fonts/2D2C3F_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2D2C3F_0_0.woff2') format('woff2'),url('../fonts/2D2C3F_0_0.woff') format('woff'),url('../fonts/2D2C3F_0_0.ttf') format('truetype');}

$ptsans: 'PT Sans', sans-serif;
$museoSlab: 'MuseoSlab-500', sans-serif;

$black: #231f20;
$orange: #ef4825;
$lightorange: #f7931e;
$brown: #a67c52;
$darkbrown: #603913;
$yellow: #ffc10e;
$flesh: #fddfbc;

$faqbrown: #ad9b85;
$faqbg: #c7b299;

$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

*,*:after,*:before {
    box-sizing: border-box;
}

body {
    font-size: 100%;
    line-height: 1.8;
    margin: 0;
    font-family: $ptsans;
}

img { max-width: 100%; }

@import 'landing';
@import 'grid';
@import 'about';
@import 'about-info';

h1 {
    font-family: $museoSlab;
}

.mobile-menu {
    display: block;
    position: absolute;
    top: 1rem;
    right: 0.5rem;
    color: transparent;
    font-size: 0px;
    height: 35px;
    width: 42px;
    overflow: hidden;
    text-indent: -99999px;

    border: 0;
    background-color: transparent;

    span {
        display: block;
        width: 100%;
        height: 5px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        background-color: white;
        transition: all 0.3s ease-in-out;
        z-index: 8;
    }


    &:after,
    &:before {
        content: ' ';
        background-color: white;
        width: 100%;
        height: 5px;
        position: absolute;

        transition: all 0.1s ease-in-out;
        z-index: 10;
    }

    &:after {
        bottom: 0;
        left: 0;
        right: 0;
    }

    &:before {
        top: 0;
        left: 0;
        right: 0;
    }

    &.js--clicked {
        span { background-color: $black; }
        &:before { transform: translate3d(0,14px,0) rotate(45deg); }
        &:after { transform: translate3d(0,-16px,0) rotate(-45deg) }
    }
}

.main-nav {
    width: 100%;
    background-color: $black;
    font-family: $museoSlab;
    position: relative;
    padding: 0.5rem 1rem;

    ul {
        padding: 0;
        list-style: none;
        max-height: 0;
        display: block;
        transform: translate3d(0,-800px,0);
        transition: all 0.2s ease-in-out;

        &.show--menu {
            max-height: 100%;
            transform: translate3d(0,0,0);
        }
    }

    li {
        width: 100%;
        display: block;
        text-align: center;

        &:hover { background-color: $orange; }
    }

    a {
        text-decoration: none;
        color: white;
        padding: 0.5rem;
        text-transform: uppercase;
        letter-spacing: 0.01em;
        display: block;
        width: 100%;
    }

    .underline {
        display: none;
    }
}

@media ( min-width: 680px ) {
    .mobile-menu {
        display: none;
    }

    .main-nav {
        overflow: auto;
        height: 80px;
        max-height: 100%;
        padding: 1rem;

        a {
            display: inline-block;
        }

        .underline {
            background-image: url('../images/link-underline.png');
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            display: block;
            width: 100px;
            height: 14px;
            position: absolute;
        }

        ul {
            display: inline-block;
            transform: translate3d(0,0,0);
            width: auto;
        }

        li {
            width: auto;
            display: inline-block;
            vertical-align: top;
            transition: left ease-in-out 0.1s;
            transform: translate3d(0,0,0);

            &:hover {
                background-color: transparent;
            }

            a {
                display: inline-block;
                padding: 0 1rem;
            }
        }
    }
}

#aboutL:hover ~ .underline { left: 0; }
#itineraryL:hover ~ .underline { left: 110px}
#remindersL:hover ~ .underline { left: 240px}
#faqL:hover ~ .underline { left: 350px}
#contactL:hover ~ .underline { left: 450px}

.main-nav {
    li:nth-child(1):hover ~ .underline { left: 0; }
    li:nth-child(2):hover ~ .underline { left: 110px}
    li:nth-child(3):hover ~ .underline { left: 240px}
    li:nth-child(4):hover ~ .underline { left: 350px}
    li:nth-child(5):hover ~ .underline { left: 450px}
    li:nth-child(6):hover ~ .underline { left: 580px}
}

.underline.underline.underline {
    .page-about & { left: 0; }
    .page-itinerary & { left: 110px; }
    .page-reminders & { left: 240px; }
    .page-faq & { left: 350px; }
    .page-contact & { left: 450px; }
}

.logo {
    text-indent: -9999px;
    display: block;
    overflow: hidden;
    background-image: url('../images/me-eo-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 280px;
}

.page-itinerary {
    background-color: $yellow;
}

.itinerary__row {
    margin: auto;
    overflow: hidden;
    background-color: white;
    width: 100%;
    padding: 3%;
    margin-bottom: 2rem;

    .itinerary__inner-row {
        padding: 3%;
        border: 5px dotted $orange;

        img { padding: 1rem; }

        .block {
            vertical-align: middle;
        }
    }

    h1,h2,em,strong { color: $orange; }

    h1 {
        margin-bottom: 0.5rem;
        font-family: $ptsans;
        text-transform: uppercase;
        line-height: 1;
    }
    h2 {
        margin-top: 0;
        font-weight: normal;
        font-size: 2rem;
        line-height: 1.1;
    }
}

.itinerary__header {
    background-image: url('../images/itinerary/header-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 0 1.5rem;
    padding-top: 0.6rem;
    margin-top: 0;
    color: white;
    text-transform: uppercase;
    font-size: 3em;
    letter-spacing: 0.01em;
    line-height: 3;

    & + p {
        font-size: 2rem;
    }
}

.itinerary__container,
.reminders__container,
.contact__container,
.page__container {
    text-align: center;
    padding: 2rem;
}

.itinerary__block {
    text-align: center;
    width: 25%;
    cursor: pointer;

    .inner__block {
        padding: 2rem;
    }

    img {
        border-radius: 50%;
        overflow: hidden;
        display: block;
    }
}

.itinerary__copy {
    font-size: 1.4em;
    color: white;
    margin-top: 1rem;

    span {
        display: block;
        margin-bottom: -.25em;
    }

    .day {
        font-weight: bold;
        color: $darkbrown;
        text-transform: uppercase;
        margin-bottom: 0;
    }
}

.reminders__header {
    z-index: 2;
    position: relative;
    text-transform: uppercase;
    color: $orange;
    border: 4px dotted $orange;
    display: inline-block;
    margin-bottom: 0;
}

.reminders__subheader {
    position: relative;
    z-index: 2;
    display: block;
}

.coming-soon-img {
    position: relative;
    z-index: 1;
    display: block;
    margin: 0 auto;
}

.faq {
    background-color: $faqbg;
}

.faq__block {
    background-color: $faqbrown;
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-align: center;

    &:hover {
        background-color: $brown;
        cursor: pointer;
    }

    &:first-child {
        background-color: white;
        pointer-events: none;

        h1 {
            color: $orange;
            font-size: 3em;
            margin-bottom: 0;
            margin-top: 0;
            text-transform: uppercase;

            & + p {
                margin-top: -0.75rem;
            }
        }

        .faq__inner-block {
            border-color: $orange;
        }
    }

    .faq__inner-block {
        padding: 0.5rem;
        border: 4px dotted white;
        height: 100%;
        position: relative;

        h2 {
            line-height: 1;
            margin-bottom: 1rem;
            text-transform: uppercase;
            font-weight: normal;
        }
    }
}


.faq__image {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;

    img {
        max-height: 100%;
    }
}

.lightbox {
    display: none;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(black,0.8);
    padding: 3rem;
    overflow: scroll;
    z-index: 999;

    &.show--modal {
        display: block;
    }
}

body.show--modal {
    overflow: hidden;
}

.lightbox__modal {
    background-color: white;
    padding: 1rem;
    margin: auto;
    border: 5px solid $brown;
    position: relative;
    width: 80%;

    .page-itinerary & {
        h1,h2,em,strong { color: $orange; }

        h1 {
            margin-bottom: 0.5rem;
            font-family: $ptsans;
            text-transform: uppercase;
            line-height: 1;
        }
        h2 {
            margin-top: 0;
            font-weight: normal;
            font-size: 2rem;
            line-height: 1.1;
        }

        button {
            background-color: transparent;
            border: 0 solid transparent;
            color: $orange;
            margin-top: 1rem;
            padding: 0.5rem 1rem;
            text-transform: uppercase;
            display: inline-block;
            vertical-align: middle;

            &.js--next_day::after {
                display: inline-block;
                content: " ";
                width: 30px;
                height: 25px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                background-image: url('../images/itinerary/itinerary-arrow.png');
                margin-left: 1rem;
                vertical-align: middle;
            }

            &.js--previous_day::before {
                display: inline-block;
                content: " ";
                width: 30px;
                height: 25px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                background-image: url('../images/itinerary/itinerary-arrow-left.png');
                margin-right: 1rem;
                vertical-align: middle;
            }
        }
    }
}

.lb-header {
    text-transform: uppercase;
    color: $orange;
    font-weight: normal;
    line-height: 1.2;
    font-size: 1.6em;
}

.lb-image {
    display: none;
}

.question {
    color: $orange;
    margin-bottom: 0;

    & + p {
        margin-top: 0;
    }
}

.close-modal {
    display: block;
    height: 2rem;
    width: 2rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../images/close-modal.png');
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.contact {
    background-color: $lightorange;
}

.contact__header {
    text-transform: uppercase;
    color: white;
    padding: 1rem 1.5rem;
    background-color: $yellow;
    display: inline-block;

    span {
        display: block;
        padding: 0.5rem 1.5rem;
        border: 2px dotted white;
    }
}

.contact__header-container {
    text-align: center;

    img {
        display: inline-block;
        vertical-align: middle;
        padding: 2rem;
        max-width: 14rem;
    }
}

.contact__form {
    background-color: $flesh;
    padding: 2rem 3rem 4rem 3rem;
    text-align: left;
    max-width: 35rem;
    margin: auto;
    position: relative;
    margin-bottom: 5rem;

    label, input, textarea {
        display: block;
        width: 100%;
    }

    label {
        color: $orange;
    }

    input, textarea {
        margin-bottom: 1rem;
    }
}

.form-message {
    font-size: 1.5rem;
    color: $darkbrown;
    text-align: center;
}

.submit-button {
    background-image: url('../images/contact/submit.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    text-indent: -9999px;
    background-color: transparent;
    border: none;
    overflow: hidden;
    display: inline-block;

    width: 10rem!important;
    height: 5rem!important;
    border: 0!important;
}

.contact__form .submit-button {
    position: absolute;
    bottom: -2.5rem;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.page-registration-form {
    label { color: $orange; }
    input,
    textarea {
        border: 2px solid #d5c2ae;
        padding: 0.5rem;
    }

    .block__container > h2 {
        display: none;
    }
}

.ninja-forms-required-items,
.ninja-forms-field-description {
    color: gray;
    font-style: italic;
}

.ninja-forms-field-description {
    margin-top: 4rem;
}

.form-container {
    margin: auto;
    display: block;
    max-width: 600px;
    padding: 0 2rem;

    .submit-button {
        display: block;
        margin: 2rem auto auto auto;
    }
}

.form__header {
    background-color: $lightorange;
    padding: 0.5rem;
    color: white;
    display: block;
    font-size: 2rem;
    text-align: center;

    span {
        display: block;
        padding: 0.5rem;
        border: 2px solid white;
    }
}

.form__hobbies-wrap,
.form__shirt-sizes-wrap {
    background-color: $yellow;
    padding: 2rem;

    label { color: $black; }
    ul {
        display: block;
        width: 100%;
    }
    li {
        display: block;
        float: none!important;
        label { float: none!important }
    }
}

@import 'responsive';

.main-footer {
    background-color: $black;

    a {
        color: white;
        margin-top: 1rem;
        margin-right: 0.5rem;
        display: inline-block;
        text-decoration: none;
    }

    .one-third {
        float: left;
    }

    .two-thirds {
        float: right;
        text-align: center;
    }
}

.copyright {
    color: #554b4e;
}

.footer__img {
    display: inline-block;
    max-width: 100%;
    vertical-align: top;
}

.footer__img-inline {
    display: inline-block;
    width: 40%;
    margin-right: 1rem;
    vertical-align: middle;

    &.inspire {
        width: 50%;
    }
}

.reminders__block {
    text-align: center;
    .block {
        text-align: left;
    }
    h2 {
        color: $orange;
        text-transform: uppercase;
    }
}

.reminders__card {
    margin-left: 2rem;
    font-size: 1.25rem;

    .reminders__card--header {
        color: $orange;
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 0;
    }
}

.reminders__signature {
    width: 10rem;
    margin-bottom: -1rem;
}

.reminders__footer {
    text-align: center;
    margin-top: 2rem;
    img { height: 4rem; width: auto; }
}