@charset "UTF-8";
/**
 * Next Gen EO
 * http://wordpress.org/themes
 *
 * Copyright (c) 2015 Rystraum Gamonez & RD Magboo
 * Licensed under the GPLv2+ license.
 */
@font-face {
  font-family: 'MuseoSlab-500';
  src: url("..fonts/2D2C3F_0_0.eot");
  src: url("../fonts/2D2C3F_0_0.eot?#iefix") format("embedded-opentype"), url("../fonts/2D2C3F_0_0.woff2") format("woff2"), url("../fonts/2D2C3F_0_0.woff") format("woff"), url("../fonts/2D2C3F_0_0.ttf") format("truetype"); }
*, *:after, *:before {
  box-sizing: border-box; }

body {
  font-size: 100%;
  line-height: 1.8;
  margin: 0;
  font-family: "PT Sans", sans-serif; }

img {
  max-width: 100%; }

.landing-page__container .landing-page__left {
  text-align: center; }

.landing-page__logo {
  max-height: 400px; }

.landing-page__copy {
  text-align: center; }

.learn-more {
  font-family: "MuseoSlab-500", sans-serif;
  background-color: #f7931e;
  padding: 0.5rem 0.75rem;
  border: none;
  color: white;
  display: inline-block;
  text-decoration: none; }
  .learn-more span {
    display: block;
    padding: 0.25rem 1.5rem;
    border: 1px solid white; }
  .learn-more:hover {
    background-color: #ef4825; }

.landing-page__links {
  text-align: center; }
  .landing-page__links .base {
    display: none; }
  .landing-page__links a {
    display: block; }

@media (min-width: 993px) {
  .learn-more {
    padding: 0.75rem 1rem; }
    .learn-more span {
      padding: 0.5rem 3rem; }

  .landing-page__container {
    margin: 0 auto;
    padding: 3rem;
    max-width: 1200px;
    max-height: 935px; }

  .landing-page__copy {
    text-align: center;
    width: 55%;
    margin: 0 auto; }

  .landing-page__links {
    position: relative;
    height: 100%;
    width: 100%;
    padding-top: 100%; }
    .landing-page__links .base {
      display: block;
      position: absolute;
      top: 5rem;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto; }
    .landing-page__links .contact-image {
      position: absolute;
      right: 13%;
      top: 25%;
      width: 100%; }
      .landing-page__links .contact-image img {
        max-width: 45%;
        display: block;
        position: absolute;
        right: 0; }
    .landing-page__links .itinerary-image {
      position: absolute;
      width: 100%;
      top: 43%;
      left: 2%; }
      .landing-page__links .itinerary-image img {
        max-width: 30%;
        display: block;
        position: absolute;
        left: 0; }
    .landing-page__links .reminders-image {
      position: absolute;
      width: 100%;
      bottom: 23%;
      right: 2%; }
      .landing-page__links .reminders-image img {
        max-width: 50%;
        display: block;
        position: absolute;
        right: 0; }
    .landing-page__links .faq-image {
      position: absolute;
      width: 100%;
      bottom: 10%;
      left: 20%; }
      .landing-page__links .faq-image img {
        max-width: 23%;
        display: block;
        position: absolute;
        left: 0; } }
.block__container {
  text-align: justify;
  padding: 2rem;
  font-size: 0.1px; }
  .block__container:after {
    content: " ";
    display: inline-block;
    width: 100%; }
  .block__container > * {
    font-size: 1rem; }

.itinerary__container .block__container {
  padding: 0; }

.block {
  display: inline-block;
  vertical-align: top;
  font-size: 1rem;
  text-align: left;
  position: relative; }
  .landing-page__container .block {
    padding: 2rem; }

.one-half {
  width: 49%; }

.one-third {
  width: 32%; }

.two-thirds {
  width: 65%; }

.one-fourth {
  width: 24%; }

.full-width {
  width: 100%; }

.about {
  background-image: url("../images/about-bg.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat; }

.about__content {
  text-align: center;
  padding-top: 1rem; }

.about__header {
  text-transform: uppercase;
  color: #ef4825;
  display: inline-block;
  margin-bottom: 1rem;
  position: relative;
  overflow: hidden; }
  .about__header + p {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 360px; }
  .about__header .corner {
    display: block;
    position: absolute;
    height: 3rem;
    width: 3rem;
    background-color: white;
    border-radius: 50%; }

.about__header--content {
  border: 2px dotted;
  padding: 1rem 3rem;
  display: block; }

.corner-1 {
  top: -1.5rem;
  right: -1.5rem;
  border-left: 2px dotted;
  border-bottom: 2px dotted; }

.corner-2 {
  bottom: -1.5rem;
  right: -1.5rem;
  border-left: 2px dotted;
  border-top: 2px dotted; }

.corner-3 {
  bottom: -1.5rem;
  left: -1.5rem;
  border-right: 2px dotted;
  border-top: 2px dotted; }

.corner-4 {
  top: -1.5rem;
  left: -1.5rem;
  border-right: 2px dotted;
  border-bottom: 2px dotted; }

.info__block {
  padding: 1rem;
  border: 2px dotted #ef4825;
  height: 100%; }
  .info__block img {
    display: block;
    margin: 0 auto;
    max-height: 45%;
    margin-bottom: 2rem; }

.about-info__block {
  height: 400px;
  padding: 1rem;
  background-color: white;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: left;
  line-height: 1.5; }
  .about-info__block h2 {
    color: #ef4825;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 1.2;
    font-family: "MuseoSlab-500", sans-serif; }
  .about-info__block ul {
    list-style: none; }
  .about-info__block li {
    position: relative; }
    .about-info__block li:before {
      font-size: 2rem;
      display: block;
      position: absolute;
      left: -1.5rem;
      top: -1rem;
      margin-right: 2rem;
      content: "•";
      color: #ef4825;
      /* or whatever color you prefer */ }
  .about-info__block em {
    color: #a67c52;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2em; }
  .about-info__block strong {
    color: #ef4825; }
  .about-info__block:nth-child(2n) .info__block {
    border: 4px solid #a67c52; }

.about-info__container {
  background-color: #ef4825;
  background-image: url("../images/about-info/about-info-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.about-info__block--last {
  position: relative;
  height: 400px;
  padding: 1rem;
  vertical-align: top;
  margin-top: 1rem;
  background-color: #231f20; }
  .about-info__block--last .info__block {
    border: none; }
  .about-info__block--last img {
    margin: auto;
    max-height: 100%; }

h1 {
  font-family: "MuseoSlab-500", sans-serif; }

.mobile-menu {
  display: block;
  position: absolute;
  top: 1rem;
  right: 0.5rem;
  color: transparent;
  font-size: 0px;
  height: 35px;
  width: 42px;
  overflow: hidden;
  text-indent: -99999px;
  border: 0;
  background-color: transparent; }
  .mobile-menu span {
    display: block;
    width: 100%;
    height: 5px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-color: white;
    transition: all 0.3s ease-in-out;
    z-index: 8; }
  .mobile-menu:after, .mobile-menu:before {
    content: ' ';
    background-color: white;
    width: 100%;
    height: 5px;
    position: absolute;
    transition: all 0.1s ease-in-out;
    z-index: 10; }
  .mobile-menu:after {
    bottom: 0;
    left: 0;
    right: 0; }
  .mobile-menu:before {
    top: 0;
    left: 0;
    right: 0; }
  .mobile-menu.js--clicked span {
    background-color: #231f20; }
  .mobile-menu.js--clicked:before {
    -webkit-transform: translate3d(0, 14px, 0) rotate(45deg);
            transform: translate3d(0, 14px, 0) rotate(45deg); }
  .mobile-menu.js--clicked:after {
    -webkit-transform: translate3d(0, -16px, 0) rotate(-45deg);
            transform: translate3d(0, -16px, 0) rotate(-45deg); }

.main-nav {
  width: 100%;
  background-color: #231f20;
  font-family: "MuseoSlab-500", sans-serif;
  position: relative;
  padding: 0.5rem 1rem; }
  .main-nav ul {
    padding: 0;
    list-style: none;
    max-height: 0;
    display: block;
    -webkit-transform: translate3d(0, -800px, 0);
            transform: translate3d(0, -800px, 0);
    transition: all 0.2s ease-in-out; }
    .main-nav ul.show--menu {
      max-height: 100%;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0); }
  .main-nav li {
    width: 100%;
    display: block;
    text-align: center; }
    .main-nav li:hover {
      background-color: #ef4825; }
  .main-nav a {
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 0.01em;
    display: block;
    width: 100%; }
  .main-nav .underline {
    display: none; }

@media (min-width: 680px) {
  .mobile-menu {
    display: none; }

  .main-nav {
    overflow: auto;
    height: 80px;
    max-height: 100%;
    padding: 1rem; }
    .main-nav a {
      display: inline-block; }
    .main-nav .underline {
      background-image: url("../images/link-underline.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      display: block;
      width: 100px;
      height: 14px;
      position: absolute; }
    .main-nav ul {
      display: inline-block;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
      width: auto; }
    .main-nav li {
      width: auto;
      display: inline-block;
      vertical-align: top;
      transition: left ease-in-out 0.1s;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0); }
      .main-nav li:hover {
        background-color: transparent; }
      .main-nav li a {
        display: inline-block;
        padding: 0 1rem; } }
#aboutL:hover ~ .underline {
  left: 0; }

#itineraryL:hover ~ .underline {
  left: 110px; }

#remindersL:hover ~ .underline {
  left: 240px; }

#faqL:hover ~ .underline {
  left: 350px; }

#contactL:hover ~ .underline {
  left: 450px; }

.main-nav li:nth-child(1):hover ~ .underline {
  left: 0; }
.main-nav li:nth-child(2):hover ~ .underline {
  left: 110px; }
.main-nav li:nth-child(3):hover ~ .underline {
  left: 240px; }
.main-nav li:nth-child(4):hover ~ .underline {
  left: 350px; }
.main-nav li:nth-child(5):hover ~ .underline {
  left: 450px; }
.main-nav li:nth-child(6):hover ~ .underline {
  left: 580px; }

.page-about .underline.underline.underline {
  left: 0; }
.page-itinerary .underline.underline.underline {
  left: 110px; }
.page-reminders .underline.underline.underline {
  left: 240px; }
.page-faq .underline.underline.underline {
  left: 350px; }
.page-contact .underline.underline.underline {
  left: 450px; }

.logo {
  text-indent: -9999px;
  display: block;
  overflow: hidden;
  background-image: url("../images/me-eo-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 280px; }

.page-itinerary {
  background-color: #ffc10e; }

.itinerary__row {
  margin: auto;
  overflow: hidden;
  background-color: white;
  width: 100%;
  padding: 3%;
  margin-bottom: 2rem; }
  .itinerary__row .itinerary__inner-row {
    padding: 3%;
    border: 5px dotted #ef4825; }
    .itinerary__row .itinerary__inner-row img {
      padding: 1rem; }
    .itinerary__row .itinerary__inner-row .block {
      vertical-align: middle; }
  .itinerary__row h1, .itinerary__row h2, .itinerary__row em, .itinerary__row strong {
    color: #ef4825; }
  .itinerary__row h1 {
    margin-bottom: 0.5rem;
    font-family: "PT Sans", sans-serif;
    text-transform: uppercase;
    line-height: 1; }
  .itinerary__row h2 {
    margin-top: 0;
    font-weight: normal;
    font-size: 2rem;
    line-height: 1.1; }

.itinerary__header {
  background-image: url("../images/itinerary/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 0 1.5rem;
  padding-top: 0.6rem;
  margin-top: 0;
  color: white;
  text-transform: uppercase;
  font-size: 3em;
  letter-spacing: 0.01em;
  line-height: 3; }
  .itinerary__header + p {
    font-size: 2rem; }

.itinerary__container,
.reminders__container,
.contact__container,
.page__container {
  text-align: center;
  padding: 2rem; }

.itinerary__block {
  text-align: center;
  width: 25%;
  cursor: pointer; }
  .itinerary__block .inner__block {
    padding: 2rem; }
  .itinerary__block img {
    border-radius: 50%;
    overflow: hidden;
    display: block; }

.itinerary__copy {
  font-size: 1.4em;
  color: white;
  margin-top: 1rem; }
  .itinerary__copy span {
    display: block;
    margin-bottom: -.25em; }
  .itinerary__copy .day {
    font-weight: bold;
    color: #603913;
    text-transform: uppercase;
    margin-bottom: 0; }

.reminders__header {
  z-index: 2;
  position: relative;
  text-transform: uppercase;
  color: #ef4825;
  border: 4px dotted #ef4825;
  display: inline-block;
  margin-bottom: 0; }

.reminders__subheader {
  position: relative;
  z-index: 2;
  display: block; }

.coming-soon-img {
  position: relative;
  z-index: 1;
  display: block;
  margin: 0 auto; }

.faq {
  background-color: #c7b299; }

.faq__block {
  background-color: #ad9b85;
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-align: center; }
  .faq__block:hover {
    background-color: #a67c52;
    cursor: pointer; }
  .faq__block:first-child {
    background-color: white;
    pointer-events: none; }
    .faq__block:first-child h1 {
      color: #ef4825;
      font-size: 3em;
      margin-bottom: 0;
      margin-top: 0;
      text-transform: uppercase; }
      .faq__block:first-child h1 + p {
        margin-top: -0.75rem; }
    .faq__block:first-child .faq__inner-block {
      border-color: #ef4825; }
  .faq__block .faq__inner-block {
    padding: 0.5rem;
    border: 4px dotted white;
    height: 100%;
    position: relative; }
    .faq__block .faq__inner-block h2 {
      line-height: 1;
      margin-bottom: 1rem;
      text-transform: uppercase;
      font-weight: normal; }

.faq__image {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem; }
  .faq__image img {
    max-height: 100%; }

.lightbox {
  display: none;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 3rem;
  overflow: scroll;
  z-index: 999; }
  .lightbox.show--modal {
    display: block; }

body.show--modal {
  overflow: hidden; }

.lightbox__modal {
  background-color: white;
  padding: 1rem;
  margin: auto;
  border: 5px solid #a67c52;
  position: relative;
  width: 80%; }
  .page-itinerary .lightbox__modal h1, .page-itinerary .lightbox__modal h2, .page-itinerary .lightbox__modal em, .page-itinerary .lightbox__modal strong {
    color: #ef4825; }
  .page-itinerary .lightbox__modal h1 {
    margin-bottom: 0.5rem;
    font-family: "PT Sans", sans-serif;
    text-transform: uppercase;
    line-height: 1; }
  .page-itinerary .lightbox__modal h2 {
    margin-top: 0;
    font-weight: normal;
    font-size: 2rem;
    line-height: 1.1; }
  .page-itinerary .lightbox__modal button {
    background-color: transparent;
    border: 0 solid transparent;
    color: #ef4825;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle; }
    .page-itinerary .lightbox__modal button.js--next_day::after {
      display: inline-block;
      content: " ";
      width: 30px;
      height: 25px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url("../images/itinerary/itinerary-arrow.png");
      margin-left: 1rem;
      vertical-align: middle; }
    .page-itinerary .lightbox__modal button.js--previous_day::before {
      display: inline-block;
      content: " ";
      width: 30px;
      height: 25px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url("../images/itinerary/itinerary-arrow-left.png");
      margin-right: 1rem;
      vertical-align: middle; }

.lb-header {
  text-transform: uppercase;
  color: #ef4825;
  font-weight: normal;
  line-height: 1.2;
  font-size: 1.6em; }

.lb-image {
  display: none; }

.question {
  color: #ef4825;
  margin-bottom: 0; }
  .question + p {
    margin-top: 0; }

.close-modal {
  display: block;
  height: 2rem;
  width: 2rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../images/close-modal.png");
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer; }

.contact {
  background-color: #f7931e; }

.contact__header {
  text-transform: uppercase;
  color: white;
  padding: 1rem 1.5rem;
  background-color: #ffc10e;
  display: inline-block; }
  .contact__header span {
    display: block;
    padding: 0.5rem 1.5rem;
    border: 2px dotted white; }

.contact__header-container {
  text-align: center; }
  .contact__header-container img {
    display: inline-block;
    vertical-align: middle;
    padding: 2rem;
    max-width: 14rem; }

.contact__form {
  background-color: #fddfbc;
  padding: 2rem 3rem 4rem 3rem;
  text-align: left;
  max-width: 35rem;
  margin: auto;
  position: relative;
  margin-bottom: 5rem; }
  .contact__form label, .contact__form input, .contact__form textarea {
    display: block;
    width: 100%; }
  .contact__form label {
    color: #ef4825; }
  .contact__form input, .contact__form textarea {
    margin-bottom: 1rem; }

.form-message {
  font-size: 1.5rem;
  color: #603913;
  text-align: center; }

.submit-button {
  background-image: url("../images/contact/submit.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  text-indent: -9999px;
  background-color: transparent;
  border: none;
  overflow: hidden;
  display: inline-block;
  width: 10rem !important;
  height: 5rem !important;
  border: 0 !important; }

.contact__form .submit-button {
  position: absolute;
  bottom: -2.5rem;
  left: 0;
  right: 0;
  margin: 0 auto; }

.page-registration-form label {
  color: #ef4825; }
.page-registration-form input,
.page-registration-form textarea {
  border: 2px solid #d5c2ae;
  padding: 0.5rem; }
.page-registration-form .block__container > h2 {
  display: none; }

.ninja-forms-required-items,
.ninja-forms-field-description {
  color: gray;
  font-style: italic; }

.ninja-forms-field-description {
  margin-top: 4rem; }

.form-container {
  margin: auto;
  display: block;
  max-width: 600px;
  padding: 0 2rem; }
  .form-container .submit-button {
    display: block;
    margin: 2rem auto auto auto; }

.form__header {
  background-color: #f7931e;
  padding: 0.5rem;
  color: white;
  display: block;
  font-size: 2rem;
  text-align: center; }
  .form__header span {
    display: block;
    padding: 0.5rem;
    border: 2px solid white; }

.form__hobbies-wrap,
.form__shirt-sizes-wrap {
  background-color: #ffc10e;
  padding: 2rem; }
  .form__hobbies-wrap label,
  .form__shirt-sizes-wrap label {
    color: #231f20; }
  .form__hobbies-wrap ul,
  .form__shirt-sizes-wrap ul {
    display: block;
    width: 100%; }
  .form__hobbies-wrap li,
  .form__shirt-sizes-wrap li {
    display: block;
    float: none !important; }
    .form__hobbies-wrap li label,
    .form__shirt-sizes-wrap li label {
      float: none !important; }

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
@media (max-width: 768px) {
  .one-half,
  .one-third,
  .one-fourth {
    width: 100%; }

  .itinerary__block .inner__block {
    padding: 0;
    margin-bottom: 4rem; }
  .itinerary__block img {
    max-height: 400px;
    display: inline-block; }

  .faq__block {
    height: 300px; }

  .faq__image {
    height: 120px; }

  .reminders__header {
    padding: 0 1rem; } }
@media (max-width: 992px) {
  .two-thirds {
    width: 100%; }

  .main-nav {
    height: auto; }
    .main-nav ul {
      position: relative;
      width: 100%;
      top: 0; }

  .faq__block {
    padding: 1rem; }

  .contact__header-container img {
    display: none; }

  .lb-header {
    margin: 0;
    font-size: 1.5rem; }

  .lightbox__modal {
    width: 100%;
    padding: 0.5rem;
    font-size: 80%; }
    .lightbox__modal .block__container {
      padding: 0.5rem; }
    .lightbox__modal p {
      font-size: 0.8rem; }

  .lightbox {
    padding: 1rem; } }
@media (min-width: 769px) and (max-width: 992px) {
  .one-third {
    width: 48%; }

  .itinerary__header + p {
    margin-bottom: 0; }

  .faq__block {
    height: 400px;
    padding: 1rem; }

  .faq__image {
    height: 200px; } }
@media (min-width: 769px) {
  .reminders__header {
    font-size: 3em;
    padding: 0 1.5em; }

  .reminders__subheader {
    font-size: 2em;
    margin-bottom: -4rem; }

  .coming-soon-img {
    width: 80%; } }
@media (min-width: 993px) {
  .main-nav ul {
    position: absolute;
    top: 0.5rem;
    right: 2rem; }

  .lightbox__modal {
    width: 800px; }
    .itinerary__container .lightbox__modal {
      width: 1000px; }
      .itinerary__container .lightbox__modal .two-thirds img {
        margin-left: 5%; }

  .lb-image {
    margin-top: 7rem;
    margin-left: -1rem;
    display: block; }

  .faq__block {
    height: 400px;
    padding: 2rem; }

  .faq__image {
    height: 180px; } }
.about__video--container {
  overflow: hidden;
  max-width: 800px;
  max-height: 450px;
  margin: auto;
  padding: 1rem; }

.about__video {
  position: relative;
  padding-top: 56.25%;
  margin: 0 auto; }
  .about__video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.main-footer {
  background-color: #231f20; }
  .main-footer a {
    color: white;
    margin-top: 1rem;
    margin-right: 0.5rem;
    display: inline-block;
    text-decoration: none; }
  .main-footer .one-third {
    float: left; }
  .main-footer .two-thirds {
    float: right;
    text-align: center; }

.copyright {
  color: #554b4e; }

.footer__img {
  display: inline-block;
  max-width: 100%;
  vertical-align: top; }

.footer__img-inline {
  display: inline-block;
  width: 40%;
  margin-right: 1rem;
  vertical-align: middle; }
  .footer__img-inline.inspire {
    width: 50%; }

.reminders__block {
  text-align: center; }
  .reminders__block .block {
    text-align: left; }
  .reminders__block h2 {
    color: #ef4825;
    text-transform: uppercase; }

.reminders__card {
  margin-left: 2rem;
  font-size: 1.25rem; }
  .reminders__card .reminders__card--header {
    color: #ef4825;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0; }

.reminders__signature {
  width: 10rem;
  margin-bottom: -1rem; }

.reminders__footer {
  text-align: center;
  margin-top: 2rem; }
  .reminders__footer img {
    height: 4rem;
    width: auto; }
